section
  :markdown
    ![example image](example-image.jpg "An exemplary image")
section
  :github-markdown
    ![example image](example-image.jpg "An exemplary image")
section
  :inline-github-markdown
    ![example image](example-image.jpg "An exemplary image")
section
  :markdown-extra
    ![example image](example-image.jpg "An exemplary image")
